<div class="container py-3">
  <h1><%= @booking.confirmation_code %></h1>
  <p class="card-text">
    <%= @booking.booking_status %>
    <br>
    <p> Rent kitchen on: <%= @booking.start_date %> - <%= @booking.end_date %>
  </p>

  <hr>

  <% if @booking.completed? %>

  <% end %>
  <%#= link_to "Back", user_path, class: "btn btn-warning" %>
</div>



