<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.3)), url(<%= image_path 'banner.jpg' %>);">
  <div class="container mt-5">
      <%= form_tag kitchens_path, method: :get do %>
        <div class="search-form-control form-group mx-auto" style="width: 75%">
            <%= text_field_tag :query,
              params[:query],
              class: "form-control",
              placeholder: "Find a kitchen"
            %>
            <%= submit_tag "Search", class: "btn btn-primary" %>
        </div>
      <% end %>
    <br>
    <br>
    <br>
    <br>
    <div class="row mx-auto my-auto py-auto justify-content-center align-items-center">
      <h1 style="text-shadow: 2px 2px #000000; margin-right: 16px">You <span class="text-info"><em><strong>cook</strong></em></span> and we</h1>
      <span class="form-control" id="banner-typed-text" style="width: 20%; opacity: 0.7;">handle the rest</span>
    </div>
  </div>
</div>



