<div class="container py-5">
    <div class="row my-5">
        <% @kitchens.each do |kitchen| %>
            <div class="col-md-4 py-2">
                <%= render 'card', kitchen: kitchen  do %>
                  <%= link_to "See more", kitchen, class: "btn btn-info" %>
                <% end %>
            </div>
         <% end %>
    </div>
</div>
