.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.form-actions .btn {
  padding: 0;
}

#nav-tab {
  width: 85%;
  margin: auto;
  position: relative;
  top: 40px;
}
